.App {
    text-align: center;
    background-image: image("/img/notebook-page.jpg");

}

body {
    background-image: url("img/notebook-page.jpg");
    background-repeat: repeat;
    background-size: cover;

}
#mainRow{
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
}

h1 {
    font-family: monospace;
    padding-top: 4%;
}

h2 {
    font-family: monospace;
}


.buttonRow {
    place-content: center;
    align-self: center;
    justify-content: space-around;
    margin-bottom: 1.5%;
}
.buttonRow:first-child{
    margin-left: 0.5rem !important;
}

input {
    text-align: center;
    font-weight: bold;
    font-size: large !important;
    height: 3rem!important;
    width: inherit;
    border: dashed;
    margin-bottom: 2% !important;
    margin-top: 1.5% !important;

}
button{
    margin: 0.5rem !important;
}

Button {
    margin: 0.5rem;
    border-width: medium !important;
    font-weight: bold !important;
    background-color: #ffffff !important;
    font-size: large;
    width: 3rem;
}

button:hover {
    background-color: #6095ff !important;
}

.col{
    padding: 2%;
}

.list-group-item {
    font-family: monospace;
    font-weight: bold;
    font-size: large;
    color: #2e2d30 !important;
    text-align: left;
    width: inherit;
    min-width: 10rem;
    border-color: #2e2d30 !important;
}

.historyArea .list-group-item:first-child{
    margin-top: 1%;
}


.App-link {
    color: #61dafb;
}

