.App {
    text-align: center;
    background-image: image("/img/notebook-page.jpg");

}
body{
    background-image: url("img/notebook-page.jpg") ;
    background-repeat: repeat;
    background-size: cover;
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}



h1 {
    font-family: monospace;
    padding-top: 5%;
}

.outputArea {
    margin-left: 10%;
    margin-right: 10%;
    border: solid;
}
.list-group-item{
    font-family: monospace;
    font-weight: bold;
    font-size: large;
    color: #2e2d30 !important;
    text-align: left;
}

.outputArea:first-child{
    border-bottom: none !important;
}
input {
    text-align: center;
    font-weight: bold;
    height: available;
    border: dashed;
}

Button {
    margin: 0.5rem !important;
    border-width: medium !important;
    font-weight: bold !important;
    background-color: #ffffff !important;
    font-size: large;
}
button:hover{background-color: #6095ff !important;}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
